.portfolio {
  padding: 0 70px;
}
.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.portfolio__links {
  margin: 30px 0 0;
  padding: 0 0 125px 0;
  list-style: none;
}
.portfolio__links-items {
  padding: 20px 0 19px;
  border-bottom: 1px solid #424242;
}
.portfolio__links-items:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;
  background: transparent url("../../images/text__COLOR_font-main.svg") 99% 60% / 20px no-repeat;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.portfolio__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px;
  }
  .portfolio__links {
    padding-bottom: 90px;
  }
  .portfolio__link {
    font-size: 28px;
    background-size: 17px;
  }
}

@media screen and (max-width: 520px) {
  .portfolio {
    padding: 0 14px;
  }
  .portfolio__links {
    margin-top: 20px;
    padding-bottom: 70px;
  }
  .portfolio__title {
    font-size: 1px;
  }
  .portfolio__link {
    font-size: 18px;
    background-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    background-size: 12px;
    background-position: 98% 40%;
  }
}
