.promo {
  background-color: #073042;
  color: #fff;
  padding: 75px 70px;
  display: flex;
  justify-content: space-between;
}
.promo__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.promo__title {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  max-width: 640px;
}
.promo__description {
  margin: 36px 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  max-width: 310px;
}
.promo__link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  margin-top: 146px;
  transition: color 0.3s linear;
}
.promo__link:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.promo__logo {
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 808px) {
  .promo {
    padding: 140px 10px 76px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .promo__container {
    align-items: center;
    text-align: center;
  }
  .promo__title {
    font-size: 40px;
    max-width: 680px;
  }
  .promo__description {
    margin-top: 22px;
    max-width: 260px;
  }
  .promo__link {
    margin-top: 92px;
  }
  .promo__logo {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 388px) {
  .promo {
    padding: 70px 10px 30px;
  }
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
  .promo__description {
    margin-top: 24px;
  }
  .promo__link {
    margin-top: 80px;
  }
  .promo__logo {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }
}
