.header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  background-color: transparent;
}
.header_type_authorized {
  background-color: #073042;
}
.header__link {
  margin: 18px 0;
  transition: opacity 0.3s linear;
}
.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    padding: 0 14px;
  }
}
