.about-me {
  padding: 0 70px 100px;
  color: #fff;
}
.about-me__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 110px 0 23px;
  border-bottom: 1px solid #dadada;
}
.about-me__container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}
.about-me__info {
  padding-right: 15px;
}
.about-me__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
}
.about-me__profession {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 18px;
  margin: 0;
}
.about-me__description {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
}
.about-me__link {
  display: inline-block;
  margin-top: 99px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.about-me__link:hover {
  opacity: 0.6;
  cursor: pointer;
}
.about-me__avatar {
  border-radius: 10px;
  max-width: 270px;
  max-height: 327px;
  min-width: 270px;
  min-height: 327px;
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 0 50px 90px;
  }
  .about-me__title {
    padding-top: 90px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__profession {
    font-size: 12px;
    padding-top: 16px;
    line-height: 18px;
  }
  .about-me__description {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
    max-width: 360px;
  }
  .about-me__link {
    margin-top: 87px;
  }
  .about-me__avatar {
    max-width: 255px;
    max-height: 307px;
    min-width: 255px;
    min-height: 307px;
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 570px) {
  .about-me {
    padding: 0 14px 70px;
  }
  .about-me__title {
    font-size: 18px;
    padding: 70px 0 28px;
  }
  .about-me__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 60px;
  }
  .about-me__info {
    padding-right: 0;
  }
  .about-me__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    padding-top: 40px;
  }
  .about-me__profession {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }
  .about-me__description {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
  }
  .about-me__link {
    margin-top: 40px;
  }
  .about-me__avatar {
    max-width: 292px;
    max-height: 352px;
    width: 292px;
    height: 352px;
  }
}
